.registration-box {
  width: calc(420/16 * 1rem);
  max-height: calc(376/16 * 1rem);
  /* transform: translateY(-50%); */
  /* margin-top: calc(287/16 * 1rem); */
  margin-left: calc(10px);
}

.registration-box p {
  margin: 0px;
}

.registration-box-heading {
  margin-bottom: 1rem;
}